.CreateProject {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #faf0e6b4;
    color: #b8860b;
    height: 350px;
    width: 300px;
}

.Main {
    justify-content:  center;
    height: 80vh;
    align-items: center;
}