.CreateProject {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(250, 240, 230, 0.705);
    color: darkgoldenrod;
    height: 400px;
    width: 500px;
    /* position: relative;
    top: 1vh;
    bottom: 10vh; */
    /* left: -5vw; */
    /* right: 5vw; */
}

.Main {
    justify-content:  center;
    height: 80vh;
    align-items: center;
}